body,html{
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #000000; */
  background-image: linear-gradient(to right, rgb(47, 0, 255) , rgb(195, 0, 255));
}
/* fooooooooooooooooooooooooooooter */


:root{
  --orange:#ffa500;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}


html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

.footer{
  background:rgb(0, 0, 0);
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  align-items: flex-end;
  padding: 5px ;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
  border-inline-end: 1px solid rgb(51, 51, 51);
  /* border-left: 1px solid gray; */
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:.7rem 0;
  color: rgb(255, 123, 0);
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding:.7rem 0;
  color: rgb(255, 255, 255);
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:.7rem 0;
  color: rgb(255, 255, 255);
}

.footer .box-container .box a:hover{
  color:var(--orange);
}

.footer .credit{
  text-align: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color:rgb(80, 80, 80);
  border-top: .1rem solid rgb(51, 51, 51);
}

.footer .credit span{
  color:var(--orange);
}





























/* media queries  */
