.color{
    background-color: black;
}

.card{
    border:none;

    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}

.card:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#E1BEE7;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#8E24AA;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#ff8c00;
    font-size:19px;
}


.buttons button:nth-child(1){
       color:#ff8c00;
       height:40px;
}

.buttons button:nth-child(1):hover{
       border:1px solid #ff8c00 !important;
       color:#fff;
       height:40px;
       background-color:#ff8c00;
}

.buttons button:nth-child(2){
       border:1px solid #ff8c00 !important;
       background-color:#ff8c00;
       color:#fff;
        height:40px;
}

.textcolor{
    color: orange;
    font-weight: bold;
}

.btn{
    background-color:#ff8c00;
}

#btn{
    background-color: #ffffff;
    border: 1px solid orange;
    color: black;
}

#btn:hover{
    background-color: orange;

}

.navcolor{
    background-color: rgb(171, 171, 171);
}

#navbutton{
background-color: #ffffff;
color: rgb(0, 0, 0);
padding: 3px 5px;
font-size: 15px;
border: 0px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbutton:hover{
    background-color: #ff8800;
    color: rgb(255, 255, 255);
}